body{
    background-color: lightgoldenrodyellow;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxfXaZcOu45sYwnxsH1KkHw1opODoBExvo6sj5oimh7Ph-VPFD')
}


.intro-text{
    color: pink;
    background-color: green;
    font-size: 30px;
}

.span-demo{
    color:red;
     font-weight: bold; 
}


span, #span {
    color: cornflowerblue;
}

.box-model {
    width: 50vw;
    height: 100px;
    padding: 20px;
    border: 20px dashed black;
    margin: 10px;
    background-color: orange;
    font-weight: bold;
    color: black;
    font-size: 30px;
    box-sizing: content-box;

    
}

.relative{
    position: relative;
    left: 30px;
    border: 7px solid grey;
}

.fixed{
    background-color: yellow;
    position:fixed;
    top: 0;
    right: 0;
    width: 70px;
    border: 5px dashed black;
}

.absolute-parent{
    background-color:lightcoral;
    height: 30px;
    width: 40vw;
    position: relative;
    left: 40px;
    border: 7pc solid orange;

}

.absolute-child{
    background-color: whitesmoke;
    width: 15vw;
    position: absolute;
    left: 10px
}
@keyframes spin {
 to {
 transform: rotate(0deg);
  }
    
  50% {
    transform: rotate(180deg)
  }
  
  100%{
    transform: rotate(0deg)
  }
  }
  
.animated{
  height: 200px;
  animation: spin 3s linear infinite;
  transition: width 2s, height 2s, transform 2s;
}

.div > p{
    font-family: 'helvetica';
    font-size: 20px;
    color: darkslategray
}

ul + h3 {
    font-family: 'arial';
    font-size: 25px;
    color: yellowgreen;
}



.react{
    float: left;
    transition: width 2s;
}

.react:hover{
    width: 200px;
}

.angular{
    float: right;
    
}

.display-demo{
    display: inline;
}

input:focus{
    background-color: orange;
}

input:disabled{
    background-color: red;
}

li:nth-child(1){
    background-color: pink;
}

.fancy-box{
    font-size: 50px;
    height: 500px;
    width: 500px;
    background: linear-gradient(to right, red, yellow);
    box-shadow: 10px 5px 5px black;
    margin: 20px;
    text-overflow: word-wrap;
}

.flexbox-parent{
    display: flex;
    width: 100vw;
    height: 400px;
}

.flexbox{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* box should appear pink for standard desktop media type */
.responsive-box{
    height: 100px;
    width: 100vw;
    background-color: pink;
    color: black;
}


/* //box should appear yellow for Ipad Media Type */
@media (max-width: 1100px){

.responsive-box{
    background-color: yellow;
}
}


@media (max-width: 650px){

.responsive-box{
    background-color:purple;
}
}

@media (max-width: 500px){

.responsive-box{
    background-color:green;
}
}


/* Box should appear orange for Iphone (mobile )media type */

@media (max-width: 400px){

.responsive-box{
    background-color: orange;
}
}

@media (max-width: 300px){

.responsive-box{
    background-color: red;
}
}